<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <input type="text" v-model="newItem">
        <button @click.prevent="addItem">追加</button>
        <input v-model="query">検索
        <ul>
            <li v-for="(todo,index) in filteredList">
                <input type="checkbox" v-model="todo.isDone">
                <span>{{todo.item}}</span>
                <button @click.prevent="deleteItem(index)">削除</button>
            </li>
        </ul>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data(){
                return {
                    newItem: '',
                    todos: [],
                    query: '',
                }
                    
            },
            methods:{
                addItem(){
                    if(!this.newItem) return
                    const todo = {
                        item: this.newItem,
                        isDone: false
                    }
                    this.todos.push(todo)
                    this.newItem = ''
                },
                deleteItem(index){
                    this.todos.splice(index, 1)
                }
            },
            computed: {
                //computed内はreturnが必要
                filteredList(){
                    let that = this
                    //コールバック関数
                    return this.todos.filter( todo => {
                        return todo.item.indexOf(that.query) !== -1
                    })
                }
            }
        })
    </script>
</body>
</html>